In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [2]:
col_names = ['Refund', 'MarStat', 'TaxInc', 'Cheat']
# load dataset
data = pd.read_csv("train_data.csv", header=None, names=col_names)
data.head()

  Refund   MarStat  TaxInc Cheat
0    Yes    Single     125   Yes
1     No   Married     100    No
2     No    Single      70    No
3    Yes   Married     120    No
4     No  Divorced      95   Yes

In [3]:
#encoding categorical to numeric
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()
data["Refund1"] = ord_enc.fit_transform(data[["Refund"]])
print(data[["Refund", "Refund1"]])
data["MarStat1"] = ord_enc.fit_transform(data[["MarStat"]])
print(data[["MarStat", "MarStat1"]])
data["Cheat1"] = ord_enc.fit_transform(data[["Cheat"]])
print(data[["Cheat", "Cheat1"]])

#select data
data_new = pd.DataFrame(data[["Refund1", "MarStat1", "TaxInc", "Cheat1"]])

data_new

  Refund  Refund1
0    Yes      1.0
1     No      0.0
2     No      0.0
3    Yes      1.0
4     No      0.0
5     No      0.0
6    Yes      1.0
7     No      0.0
8     No      0.0
9     No      0.0
    MarStat  MarStat1
0    Single       2.0
1   Married       1.0
2    Single       2.0
3   Married       1.0
4  Divorced       0.0
5   Married       1.0
6  Divorced       0.0
7    Single       2.0
8   Married       1.0
9    Single       2.0
  Cheat  Cheat1
0   Yes     1.0
1    No     0.0
2    No     0.0
3    No     0.0
4   Yes     1.0
5    No     0.0
6    No     0.0
7   Yes     1.0
8    No     0.0
9   Yes     1.0

   Refund1  MarStat1  TaxInc  Cheat1
0      1.0       2.0     125     1.0
1      0.0       1.0     100     0.0
2      0.0       2.0      70     0.0
3      1.0       1.0     120     0.0
4      0.0       0.0      95     1.0
5      0.0       1.0      60     0.0
6      1.0       0.0     220     0.0
7      0.0       2.0      85     1.0
8      0.0       1.0      75     0.0
9      0.0       2.0      90     1.0

In [4]:
#get features and target
feature_cols = ['Refund1', 'MarStat1', 'TaxInc']
X = data_new[feature_cols] # Features
y = data_new.Cheat1 # Target variable

In [5]:
#Import svm model
from sklearn import svm

In [6]:
#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(X, y)

#Predict the response for test dataset
y_pred = clf.predict(X)

In [7]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y, y_pred))

Accuracy: 0.8